<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
    <title>Абитуриент</title>
</head>

<body>
    <div class = "calculator-button-config">
        <button class = "btn btn-outline-danger" onclick="location.href='{% url 'calculator' %}'">Калькулятор</button>
    </div>

    <div class = "buttons-container">
        <button class = "btn btn-primary" onclick="location.href='{% url 'tests' %}'">Пройти тест</button>
        <button class = "btn btn-primary" onclick="location.href='{% url 'expert_system' %}'">Рекомендательная система</button>
        <button class = "btn btn-primary" onclick="location.href='{% url 'universities' %}'">Университеты Казани</button>
        <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">О программе</button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">О программе</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Название проекта: Рекомендательная система "Абитуриент"<br>
                    Автор: Насыбуллин Ильнур Анасович<br>
                    Версия: 1.0.0<br>
                    Год: 2020
                </div>
            </div>
        </div>
    </div>

</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</html>