<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_208448a2373b44888f282a7e893ad678 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_208448a2373b44888f282a7e893ad678" ></div>
        
</body>
<script>    
    
            var map_208448a2373b44888f282a7e893ad678 = L.map(
                "map_208448a2373b44888f282a7e893ad678",
                {
                    center: [55.792365, 49.121841],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_4b054645def14bddbffa6cfebc954d26 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_208448a2373b44888f282a7e893ad678);
        
    
            var marker_71e941845f0b4a0cba853bdd8cfd06e8 = L.marker(
                [55.789588, 49.158507],
                {}
            ).addTo(map_208448a2373b44888f282a7e893ad678);
        
    
            var icon_70acc624fc5447f9996880d57522d847 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_71e941845f0b4a0cba853bdd8cfd06e8.setIcon(icon_70acc624fc5447f9996880d57522d847);
        
    
        var popup_3689bbb06ba34e7ab3651b462f219ac8 = L.popup({"maxWidth": 2650});

        
            var html_1f5b00bc13aa45b68ac34419f371b8b2 = $(`<div id="html_1f5b00bc13aa45b68ac34419f371b8b2" style="width: 100.0%; height: 100.0%;"><a href="https://kpfu.ru/ecology"target="_blank">КФУ Институт экологии и природопользования</a></div>`)[0];
            popup_3689bbb06ba34e7ab3651b462f219ac8.setContent(html_1f5b00bc13aa45b68ac34419f371b8b2);
        

        marker_71e941845f0b4a0cba853bdd8cfd06e8.bindPopup(popup_3689bbb06ba34e7ab3651b462f219ac8)
        ;

        
    
    
            var marker_8b089bf7c55d45bd837effc24ed3dd7f = L.marker(
                [55.794285, 49.113493],
                {}
            ).addTo(map_208448a2373b44888f282a7e893ad678);
        
    
            var icon_287eff09d8c042d3ab05a0dde3710c5a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_8b089bf7c55d45bd837effc24ed3dd7f.setIcon(icon_287eff09d8c042d3ab05a0dde3710c5a);
        
    
        var popup_11c21f8000e445b7a59dc8224e0b9b10 = L.popup({"maxWidth": 2650});

        
            var html_4a3a5a884dbe4de2a063389a5d1fa99e = $(`<div id="html_4a3a5a884dbe4de2a063389a5d1fa99e" style="width: 100.0%; height: 100.0%;"><a href="https://geo.kpfu.ru/"target="_blank">КФУ Институт геологии и нефтегазовых технологий</a></div>`)[0];
            popup_11c21f8000e445b7a59dc8224e0b9b10.setContent(html_4a3a5a884dbe4de2a063389a5d1fa99e);
        

        marker_8b089bf7c55d45bd837effc24ed3dd7f.bindPopup(popup_11c21f8000e445b7a59dc8224e0b9b10)
        ;

        
    
    
            var marker_b6bcdfeb4de848dfbaceeb446faf9037 = L.marker(
                [55.7921, 49.1221],
                {}
            ).addTo(map_208448a2373b44888f282a7e893ad678);
        
    
            var icon_de7db5df63004498beca5956e3efee90 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_b6bcdfeb4de848dfbaceeb446faf9037.setIcon(icon_de7db5df63004498beca5956e3efee90);
        
    
        var popup_e92fa5e09cc44f659d53ab39ca14f76e = L.popup({"maxWidth": 2650});

        
            var html_ad8558ed85ef417c9eb62bf85c0b9f5b = $(`<div id="html_ad8558ed85ef417c9eb62bf85c0b9f5b" style="width: 100.0%; height: 100.0%;"><a href="http://imm.kpfu.ru/"target="_blank">КФУ Институт математики и механики им. Н.И. Лобачевского</a></div>`)[0];
            popup_e92fa5e09cc44f659d53ab39ca14f76e.setContent(html_ad8558ed85ef417c9eb62bf85c0b9f5b);
        

        marker_b6bcdfeb4de848dfbaceeb446faf9037.bindPopup(popup_e92fa5e09cc44f659d53ab39ca14f76e)
        ;

        
    
    
            var marker_fb86e2e2ddb24a1f8a0694499893ab8f = L.marker(
                [55.791597, 49.118227],
                {}
            ).addTo(map_208448a2373b44888f282a7e893ad678);
        
    
            var icon_c9c06447d6b4423aa2e724dccd8c1c53 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_fb86e2e2ddb24a1f8a0694499893ab8f.setIcon(icon_c9c06447d6b4423aa2e724dccd8c1c53);
        
    
        var popup_f2a64d60ac4949b79cabb6248e33634a = L.popup({"maxWidth": 2650});

        
            var html_dd6c8c41aa974677b48e778c832cfaaf = $(`<div id="html_dd6c8c41aa974677b48e778c832cfaaf" style="width: 100.0%; height: 100.0%;"><a href="http://physics.kpfu.ru/"target="_blank">КФУ Институт физики</a></div>`)[0];
            popup_f2a64d60ac4949b79cabb6248e33634a.setContent(html_dd6c8c41aa974677b48e778c832cfaaf);
        

        marker_fb86e2e2ddb24a1f8a0694499893ab8f.bindPopup(popup_f2a64d60ac4949b79cabb6248e33634a)
        ;

        
    
    
            var marker_a807df519e4a4641ac25235de4eab66a = L.marker(
                [55.792397, 49.119583],
                {}
            ).addTo(map_208448a2373b44888f282a7e893ad678);
        
    
            var icon_77920dfbd99041de8937843b061f8542 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_a807df519e4a4641ac25235de4eab66a.setIcon(icon_77920dfbd99041de8937843b061f8542);
        
    
        var popup_279b6d3e2aa4417abdf2411b1af8c25b = L.popup({"maxWidth": 2650});

        
            var html_4a35b375df8543f1b1bf392263b99ce1 = $(`<div id="html_4a35b375df8543f1b1bf392263b99ce1" style="width: 100.0%; height: 100.0%;"><a href="http://chemistry.kpfu.ru/"target="_blank">КФУ Химический институт им. А.М. Бутлерова</a></div>`)[0];
            popup_279b6d3e2aa4417abdf2411b1af8c25b.setContent(html_4a35b375df8543f1b1bf392263b99ce1);
        

        marker_a807df519e4a4641ac25235de4eab66a.bindPopup(popup_279b6d3e2aa4417abdf2411b1af8c25b)
        ;

        
    
    
            var marker_b8f0f85bdcc0468595bd4d011f495726 = L.marker(
                [55.790848, 49.121775],
                {}
            ).addTo(map_208448a2373b44888f282a7e893ad678);
        
    
            var icon_7de4f9c42bab45ffa7182a940e7189a1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_b8f0f85bdcc0468595bd4d011f495726.setIcon(icon_7de4f9c42bab45ffa7182a940e7189a1);
        
    
        var popup_37f62c49bd3a41f084fcf03d9d27f622 = L.popup({"maxWidth": 2650});

        
            var html_d00601babfa047d39f10b0138174d41d = $(`<div id="html_d00601babfa047d39f10b0138174d41d" style="width: 100.0%; height: 100.0%;"><a href="http://law.kpfu.ru/"target="_blank">КФУ Юридический факультет</a></div>`)[0];
            popup_37f62c49bd3a41f084fcf03d9d27f622.setContent(html_d00601babfa047d39f10b0138174d41d);
        

        marker_b8f0f85bdcc0468595bd4d011f495726.bindPopup(popup_37f62c49bd3a41f084fcf03d9d27f622)
        ;

        
    
    
            var marker_1084650063ef4d9eba67dc567a06958f = L.marker(
                [55.7922, 49.1222],
                {}
            ).addTo(map_208448a2373b44888f282a7e893ad678);
        
    
            var icon_9d26f9789dbb4729916d11955ff19769 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_1084650063ef4d9eba67dc567a06958f.setIcon(icon_9d26f9789dbb4729916d11955ff19769);
        
    
        var popup_82c86b62a9714fb298b6a3fb89f39989 = L.popup({"maxWidth": 2650});

        
            var html_2d5454e951c64acfb21b221f10fd2948 = $(`<div id="html_2d5454e951c64acfb21b221f10fd2948" style="width: 100.0%; height: 100.0%;"><a href="http://computing.kpfu.ru/"target="_blank">КФУ Институт вычислительной математики и информационных технологий</a></div>`)[0];
            popup_82c86b62a9714fb298b6a3fb89f39989.setContent(html_2d5454e951c64acfb21b221f10fd2948);
        

        marker_1084650063ef4d9eba67dc567a06958f.bindPopup(popup_82c86b62a9714fb298b6a3fb89f39989)
        ;

        
    
    
            var marker_0414b0d25feb4073889a4f4bf205d639 = L.marker(
                [55.784349, 49.116628],
                {}
            ).addTo(map_208448a2373b44888f282a7e893ad678);
        
    
            var icon_b7dfe0bc8c1a425c91f50ccdc47d5381 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_0414b0d25feb4073889a4f4bf205d639.setIcon(icon_b7dfe0bc8c1a425c91f50ccdc47d5381);
        
    
        var popup_5253eb4e5de1472a8f0d07f600337a7e = L.popup({"maxWidth": 2650});

        
            var html_b1f487c80de04ed8a62ce35150a609d3 = $(`<div id="html_b1f487c80de04ed8a62ce35150a609d3" style="width: 100.0%; height: 100.0%;"><a href="http://www.kpfu.ru/main_page?p_sub=222"target="_blank">КФУ Институт филологии и межкультурной коммуникации</a></div>`)[0];
            popup_5253eb4e5de1472a8f0d07f600337a7e.setContent(html_b1f487c80de04ed8a62ce35150a609d3);
        

        marker_0414b0d25feb4073889a4f4bf205d639.bindPopup(popup_5253eb4e5de1472a8f0d07f600337a7e)
        ;

        
    
    
            var marker_17c39d5660f34ba58814faa18ca80e1a = L.marker(
                [55.787938, 49.110968],
                {}
            ).addTo(map_208448a2373b44888f282a7e893ad678);
        
    
            var icon_b762c61439c743479636009ab87eb1e2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_17c39d5660f34ba58814faa18ca80e1a.setIcon(icon_b762c61439c743479636009ab87eb1e2);
        
    
        var popup_65f5714fd1764e3ca60204a56ba8344c = L.popup({"maxWidth": 2650});

        
            var html_d4444878f6164b579ab2df8960889ed7 = $(`<div id="html_d4444878f6164b579ab2df8960889ed7" style="width: 100.0%; height: 100.0%;"><a href="http://kpfu.ru/main_page?p_sub=88"target="_blank">КФУ Институт психологии и образования</a></div>`)[0];
            popup_65f5714fd1764e3ca60204a56ba8344c.setContent(html_d4444878f6164b579ab2df8960889ed7);
        

        marker_17c39d5660f34ba58814faa18ca80e1a.bindPopup(popup_65f5714fd1764e3ca60204a56ba8344c)
        ;

        
    
    
            var marker_235bbf5f465c4b5185e1f66336cc63de = L.marker(
                [55.791172, 49.124084],
                {}
            ).addTo(map_208448a2373b44888f282a7e893ad678);
        
    
            var icon_d84db0da3bf1413592f7c51857eb5b80 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_235bbf5f465c4b5185e1f66336cc63de.setIcon(icon_d84db0da3bf1413592f7c51857eb5b80);
        
    
        var popup_6236cd31a1e247f1b4474ecce5ee89d9 = L.popup({"maxWidth": 2650});

        
            var html_1767d34c30fc49259daa5673c1340ba1 = $(`<div id="html_1767d34c30fc49259daa5673c1340ba1" style="width: 100.0%; height: 100.0%;"><a href="http://physical.kpfu.ru/"target="_blank">КФУ Общеуниверситетская кафедра физического воспитания и спорта</a></div>`)[0];
            popup_6236cd31a1e247f1b4474ecce5ee89d9.setContent(html_1767d34c30fc49259daa5673c1340ba1);
        

        marker_235bbf5f465c4b5185e1f66336cc63de.bindPopup(popup_6236cd31a1e247f1b4474ecce5ee89d9)
        ;

        
    
    
            var marker_49d9232e7af44372a0d32f656be233b6 = L.marker(
                [55.791648, 49.123284],
                {}
            ).addTo(map_208448a2373b44888f282a7e893ad678);
        
    
            var icon_4fb20274fca948e59b3fac89a0b1843d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_49d9232e7af44372a0d32f656be233b6.setIcon(icon_4fb20274fca948e59b3fac89a0b1843d);
        
    
        var popup_2b94bfcc14934781b2a1d939336ba06a = L.popup({"maxWidth": 2650});

        
            var html_8f43961c7e5f4b35a9070c01d43e167f = $(`<div id="html_8f43961c7e5f4b35a9070c01d43e167f" style="width: 100.0%; height: 100.0%;"><a href="http://itis.kpfu.ru/"target="_blank">КФУ Высшая школа информационных технологий и интеллектуальных систем</a></div>`)[0];
            popup_2b94bfcc14934781b2a1d939336ba06a.setContent(html_8f43961c7e5f4b35a9070c01d43e167f);
        

        marker_49d9232e7af44372a0d32f656be233b6.bindPopup(popup_2b94bfcc14934781b2a1d939336ba06a)
        ;

        
    
    
            var marker_a407b3a30da04da0b6a698631dc2725c = L.marker(
                [55.793429, 49.14479],
                {}
            ).addTo(map_208448a2373b44888f282a7e893ad678);
        
    
            var icon_90e7ba76330a4de89789acd64fcef89a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_a407b3a30da04da0b6a698631dc2725c.setIcon(icon_90e7ba76330a4de89789acd64fcef89a);
        
    
        var popup_384e1a4fb599454e9f6363e1bf6ad382 = L.popup({"maxWidth": 2650});

        
            var html_e762450a6ae742e08d9b5a35635c817e = $(`<div id="html_e762450a6ae742e08d9b5a35635c817e" style="width: 100.0%; height: 100.0%;"><a href="http://biology.kpfu.ru/"target="_blank">КФУ Институт фундаментальной медицины и биологии</a></div>`)[0];
            popup_384e1a4fb599454e9f6363e1bf6ad382.setContent(html_e762450a6ae742e08d9b5a35635c817e);
        

        marker_a407b3a30da04da0b6a698631dc2725c.bindPopup(popup_384e1a4fb599454e9f6363e1bf6ad382)
        ;

        
    
    
            var marker_f47bc19732314787955365fbb2df6e6d = L.marker(
                [55.772021, 49.114616],
                {}
            ).addTo(map_208448a2373b44888f282a7e893ad678);
        
    
            var icon_bb32c61e92f2494bb0602e573ed982ef = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_f47bc19732314787955365fbb2df6e6d.setIcon(icon_bb32c61e92f2494bb0602e573ed982ef);
        
    
        var popup_d8eeac6ae58c4f9d9e4fe34885c018d9 = L.popup({"maxWidth": 2650});

        
            var html_546b4a44863742b3b12e41bc3bed7d56 = $(`<div id="html_546b4a44863742b3b12e41bc3bed7d56" style="width: 100.0%; height: 100.0%;"><a href="http://kpfu.ru/main_page?p_sub=22881"target="_blank">КФУ Инженерный институт</a></div>`)[0];
            popup_d8eeac6ae58c4f9d9e4fe34885c018d9.setContent(html_546b4a44863742b3b12e41bc3bed7d56);
        

        marker_f47bc19732314787955365fbb2df6e6d.bindPopup(popup_d8eeac6ae58c4f9d9e4fe34885c018d9)
        ;

        
    
    
            var marker_bfa342249a674ac787f831cc3dd1d891 = L.marker(
                [55.785235, 49.118469],
                {}
            ).addTo(map_208448a2373b44888f282a7e893ad678);
        
    
            var icon_9129446212bd48f19b58f096ff71f782 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_bfa342249a674ac787f831cc3dd1d891.setIcon(icon_9129446212bd48f19b58f096ff71f782);
        
    
        var popup_34fc1cc6e247420cb8bd885ea767aad5 = L.popup({"maxWidth": 2650});

        
            var html_6e11a0b5c3d145d38f5a9c246d69f87c = $(`<div id="html_6e11a0b5c3d145d38f5a9c246d69f87c" style="width: 100.0%; height: 100.0%;"><a href="http://kpfu.ru/main_page?p_sub=216"target="_blank">КФУ Институт международных отношений</a></div>`)[0];
            popup_34fc1cc6e247420cb8bd885ea767aad5.setContent(html_6e11a0b5c3d145d38f5a9c246d69f87c);
        

        marker_bfa342249a674ac787f831cc3dd1d891.bindPopup(popup_34fc1cc6e247420cb8bd885ea767aad5)
        ;

        
    
    
            var marker_36de27e283e54859908c6f68cf921962 = L.marker(
                [55.801015, 49.134405],
                {}
            ).addTo(map_208448a2373b44888f282a7e893ad678);
        
    
            var icon_d336ebc8bc8c4a69a8131ef7ebb061ae = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_36de27e283e54859908c6f68cf921962.setIcon(icon_d336ebc8bc8c4a69a8131ef7ebb061ae);
        
    
        var popup_866ae622a9d045bf8d948275c3dbf48d = L.popup({"maxWidth": 2650});

        
            var html_018da6ad9050481aafb2a11ba1bd41b9 = $(`<div id="html_018da6ad9050481aafb2a11ba1bd41b9" style="width: 100.0%; height: 100.0%;"><a href="http://www.kpfu.ru/main_page?p_sub=9072"target="_blank">КФУ Высшая школа бизнеса</a></div>`)[0];
            popup_866ae622a9d045bf8d948275c3dbf48d.setContent(html_018da6ad9050481aafb2a11ba1bd41b9);
        

        marker_36de27e283e54859908c6f68cf921962.bindPopup(popup_866ae622a9d045bf8d948275c3dbf48d)
        ;

        
    
    
            var marker_a0c95504da22403ca331fded03551944 = L.marker(
                [55.792458, 49.122296],
                {}
            ).addTo(map_208448a2373b44888f282a7e893ad678);
        
    
            var icon_315129add7894401963dbd47622e919d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_a0c95504da22403ca331fded03551944.setIcon(icon_315129add7894401963dbd47622e919d);
        
    
        var popup_37340ba7b6014633a06867c0cfc28cfe = L.popup({"maxWidth": 2650});

        
            var html_b38795908ced4d8a8caa12bab380bc27 = $(`<div id="html_b38795908ced4d8a8caa12bab380bc27" style="width: 100.0%; height: 100.0%;"><a href="Институт социально-философских наук и массовых коммуникаций"target="_blank">КФУ Институт социально-философских наук и массовых коммуникаций</a></div>`)[0];
            popup_37340ba7b6014633a06867c0cfc28cfe.setContent(html_b38795908ced4d8a8caa12bab380bc27);
        

        marker_a0c95504da22403ca331fded03551944.bindPopup(popup_37340ba7b6014633a06867c0cfc28cfe)
        ;

        
    
    
            var marker_c21796d8fbf347cba4e66e679f0a8e7f = L.marker(
                [55.793748, 49.115029],
                {}
            ).addTo(map_208448a2373b44888f282a7e893ad678);
        
    
            var icon_99f4b9b1a38047e29fb2407a8390e540 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_c21796d8fbf347cba4e66e679f0a8e7f.setIcon(icon_99f4b9b1a38047e29fb2407a8390e540);
        
    
        var popup_e9b2848bc8d64e46875f945a4997f606 = L.popup({"maxWidth": 2650});

        
            var html_db2640a5910a41758b6628a14ad52c06 = $(`<div id="html_db2640a5910a41758b6628a14ad52c06" style="width: 100.0%; height: 100.0%;"><a href="Институт управления, экономики и финансов"target="_blank">КФУ Институт управления, экономики и финансов</a></div>`)[0];
            popup_e9b2848bc8d64e46875f945a4997f606.setContent(html_db2640a5910a41758b6628a14ad52c06);
        

        marker_c21796d8fbf347cba4e66e679f0a8e7f.bindPopup(popup_e9b2848bc8d64e46875f945a4997f606)
        ;

        
    
    
            var marker_f95ef3aaef654ef1abf54044c5c78db7 = L.marker(
                [55.7925, 49.1223],
                {}
            ).addTo(map_208448a2373b44888f282a7e893ad678);
        
    
            var icon_42fae33c99d84cd3827001b09944877d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_f95ef3aaef654ef1abf54044c5c78db7.setIcon(icon_42fae33c99d84cd3827001b09944877d);
        
    
        var popup_0f6654d4b4eb4d62b3b564651f528fa8 = L.popup({"maxWidth": 2650});

        
            var html_4392b4ec38dc402cb0a7dfd42a5bc905 = $(`<div id="html_4392b4ec38dc402cb0a7dfd42a5bc905" style="width: 100.0%; height: 100.0%;"><a href="http://hspa.kpfu.ru/"target="_blank">КФУ Высшая школа государственного и муниципального управления</a></div>`)[0];
            popup_0f6654d4b4eb4d62b3b564651f528fa8.setContent(html_4392b4ec38dc402cb0a7dfd42a5bc905);
        

        marker_f95ef3aaef654ef1abf54044c5c78db7.bindPopup(popup_0f6654d4b4eb4d62b3b564651f528fa8)
        ;

        
    
    
            var marker_b4c0361463984750a2bf5bf6679e143b = L.marker(
                [55.7924, 49.1376],
                {}
            ).addTo(map_208448a2373b44888f282a7e893ad678);
        
    
            var icon_c4fa803c8f2547a18b7ebaa6ef8b22b5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_b4c0361463984750a2bf5bf6679e143b.setIcon(icon_c4fa803c8f2547a18b7ebaa6ef8b22b5);
        
    
        var popup_461955c2fa1a414691955369c95d7aa9 = L.popup({"maxWidth": 2650});

        
            var html_c00f62f8f23546f886c8d6930975e172 = $(`<div id="html_c00f62f8f23546f886c8d6930975e172" style="width: 100.0%; height: 100.0%;"><a href="https://kai.ru/web/institute-of-aviation-land-vehicles-and-energetics"target="_blank">КНИТУ-КАИ Институт авиации, наземного транспорта и энергетики</a></div>`)[0];
            popup_461955c2fa1a414691955369c95d7aa9.setContent(html_c00f62f8f23546f886c8d6930975e172);
        

        marker_b4c0361463984750a2bf5bf6679e143b.bindPopup(popup_461955c2fa1a414691955369c95d7aa9)
        ;

        
    
    
            var marker_e4c7caf8299e420c8dc8e916c3ec8543 = L.marker(
                [55.7971, 49.1142],
                {}
            ).addTo(map_208448a2373b44888f282a7e893ad678);
        
    
            var icon_7a594291bca743328ce145cd6460c028 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_e4c7caf8299e420c8dc8e916c3ec8543.setIcon(icon_7a594291bca743328ce145cd6460c028);
        
    
        var popup_30f3f94318ac4064ae450b8e0fc25448 = L.popup({"maxWidth": 2650});

        
            var html_9ea8a162970c46af94ec366834d1cfaa = $(`<div id="html_9ea8a162970c46af94ec366834d1cfaa" style="width: 100.0%; height: 100.0%;"><a href="https://kai.ru/web/tehniceskij-kolledz"target="_blank">КНИТУ-КАИ Технический колледж</a></div>`)[0];
            popup_30f3f94318ac4064ae450b8e0fc25448.setContent(html_9ea8a162970c46af94ec366834d1cfaa);
        

        marker_e4c7caf8299e420c8dc8e916c3ec8543.bindPopup(popup_30f3f94318ac4064ae450b8e0fc25448)
        ;

        
    
    
            var marker_fece386cfc8f4e349feb6568525eb52b = L.marker(
                [55.7923, 49.1375],
                {}
            ).addTo(map_208448a2373b44888f282a7e893ad678);
        
    
            var icon_89dc1d27e5a243399ed02e53bd001208 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_fece386cfc8f4e349feb6568525eb52b.setIcon(icon_89dc1d27e5a243399ed02e53bd001208);
        
    
        var popup_73f8e0f2e262402995a02ce08bd8d680 = L.popup({"maxWidth": 2650});

        
            var html_5bdff48bfab745e98a4fbb95229bae40 = $(`<div id="html_5bdff48bfab745e98a4fbb95229bae40" style="width: 100.0%; height: 100.0%;"><a href="https://kai.ru/web/institute-of-automation-and-electronic-instrument-making"target="_blank">КНИТУ-КАИ Институт автоматики и электронного приборостроения</a></div>`)[0];
            popup_73f8e0f2e262402995a02ce08bd8d680.setContent(html_5bdff48bfab745e98a4fbb95229bae40);
        

        marker_fece386cfc8f4e349feb6568525eb52b.bindPopup(popup_73f8e0f2e262402995a02ce08bd8d680)
        ;

        
    
    
            var marker_33e1e255c52845b685c3236a88050929 = L.marker(
                [55.7969, 49.1338],
                {}
            ).addTo(map_208448a2373b44888f282a7e893ad678);
        
    
            var icon_b7fd0dc092bf4ba08b2139e8fe58bdf3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_33e1e255c52845b685c3236a88050929.setIcon(icon_b7fd0dc092bf4ba08b2139e8fe58bdf3);
        
    
        var popup_cd452a0ba3654533bcc2dd9223f062ef = L.popup({"maxWidth": 2650});

        
            var html_a30d627e20b9474d8fea628ca83e917e = $(`<div id="html_a30d627e20b9474d8fea628ca83e917e" style="width: 100.0%; height: 100.0%;"><a href="https://kai.ru/web/institute-of-technical-cybernetics-and-informatics"target="_blank">КНИТУ-КАИ Институт компьютерных технологий и защиты информации</a></div>`)[0];
            popup_cd452a0ba3654533bcc2dd9223f062ef.setContent(html_a30d627e20b9474d8fea628ca83e917e);
        

        marker_33e1e255c52845b685c3236a88050929.bindPopup(popup_cd452a0ba3654533bcc2dd9223f062ef)
        ;

        
    
    
            var marker_ecb7c2ec5a6e4e3aa7fc6629eaa0983a = L.marker(
                [55.797, 49.1339],
                {}
            ).addTo(map_208448a2373b44888f282a7e893ad678);
        
    
            var icon_0eb18e2c38dc4a5b80540adead145327 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_ecb7c2ec5a6e4e3aa7fc6629eaa0983a.setIcon(icon_0eb18e2c38dc4a5b80540adead145327);
        
    
        var popup_c2f1a6ac40c241e88654593a940936cf = L.popup({"maxWidth": 2650});

        
            var html_353c6769b4a3426e9d2193565dc7948e = $(`<div id="html_353c6769b4a3426e9d2193565dc7948e" style="width: 100.0%; height: 100.0%;"><a href="https://kai.ru/web/kolledz-informacionnyh-tehnologij/"target="_blank">КНИТУ-КАИ Колледж информационных технологий</a></div>`)[0];
            popup_c2f1a6ac40c241e88654593a940936cf.setContent(html_353c6769b4a3426e9d2193565dc7948e);
        

        marker_ecb7c2ec5a6e4e3aa7fc6629eaa0983a.bindPopup(popup_c2f1a6ac40c241e88654593a940936cf)
        ;

        
    
    
            var marker_793db5a8076b4a19b7479bdc4a73ff3e = L.marker(
                [55.797139, 49.124183],
                {}
            ).addTo(map_208448a2373b44888f282a7e893ad678);
        
    
            var icon_84a3d81314794c12be8d99e03cdcc845 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_793db5a8076b4a19b7479bdc4a73ff3e.setIcon(icon_84a3d81314794c12be8d99e03cdcc845);
        
    
        var popup_b1ecee80be5a463fbb5bd50e3be880b7 = L.popup({"maxWidth": 2650});

        
            var html_223d464f314f447180a0bf3760963839 = $(`<div id="html_223d464f314f447180a0bf3760963839" style="width: 100.0%; height: 100.0%;"><a href="https://kai.ru/web/institute-of-radio-engineering-and-telecommunications"target="_blank">КНИТУ-КАИ Институт радиоэлектроники и телекоммуникаций</a></div>`)[0];
            popup_b1ecee80be5a463fbb5bd50e3be880b7.setContent(html_223d464f314f447180a0bf3760963839);
        

        marker_793db5a8076b4a19b7479bdc4a73ff3e.bindPopup(popup_b1ecee80be5a463fbb5bd50e3be880b7)
        ;

        
    
    
            var marker_58e3c338f5ad406cbb1629f8dd05c7ee = L.marker(
                [55.823, 49.1361],
                {}
            ).addTo(map_208448a2373b44888f282a7e893ad678);
        
    
            var icon_a848d06719164f94bbacc72152357fd0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_58e3c338f5ad406cbb1629f8dd05c7ee.setIcon(icon_a848d06719164f94bbacc72152357fd0);
        
    
        var popup_07116b4dd3b44fe98738c7f94036b621 = L.popup({"maxWidth": 2650});

        
            var html_d1a598a9383c43a2bb6788831a05dd18 = $(`<div id="html_d1a598a9383c43a2bb6788831a05dd18" style="width: 100.0%; height: 100.0%;"><a href="https://kai.ru/web/institute-of-economics-management-and-social-technologies"target="_blank">КНИТУ-КАИ Институт инженерной экономики и предпринимательства</a></div>`)[0];
            popup_07116b4dd3b44fe98738c7f94036b621.setContent(html_d1a598a9383c43a2bb6788831a05dd18);
        

        marker_58e3c338f5ad406cbb1629f8dd05c7ee.bindPopup(popup_07116b4dd3b44fe98738c7f94036b621)
        ;

        
    
    
            var marker_f38520a987c4448597ca804251fd05f1 = L.marker(
                [55.8226, 49.136],
                {}
            ).addTo(map_208448a2373b44888f282a7e893ad678);
        
    
            var icon_e9a4a45c6c2b4e29bb16f3349c2c04ad = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_f38520a987c4448597ca804251fd05f1.setIcon(icon_e9a4a45c6c2b4e29bb16f3349c2c04ad);
        
    
        var popup_49467ecf59964a4ba3545c1a44566b72 = L.popup({"maxWidth": 2650});

        
            var html_52066c8bc26c46a6add092cf5435b4b4 = $(`<div id="html_52066c8bc26c46a6add092cf5435b4b4" style="width: 100.0%; height: 100.0%;"><a href="https://kai.ru/web/physics-and-mathematics-faculty"target="_blank">КНИТУ-КАИ Физико-математический факультет</a></div>`)[0];
            popup_49467ecf59964a4ba3545c1a44566b72.setContent(html_52066c8bc26c46a6add092cf5435b4b4);
        

        marker_f38520a987c4448597ca804251fd05f1.bindPopup(popup_49467ecf59964a4ba3545c1a44566b72)
        ;

        
    
    
            var marker_395a099f90f54b0189a0bef3485a2245 = L.marker(
                [55.7906, 49.1405],
                {}
            ).addTo(map_208448a2373b44888f282a7e893ad678);
        
    
            var icon_99169527def04f60a4d199fa2d77d915 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_395a099f90f54b0189a0bef3485a2245.setIcon(icon_99169527def04f60a4d199fa2d77d915);
        
    
        var popup_182331ea9f5b4632a26e27ff8b2b3e47 = L.popup({"maxWidth": 2650});

        
            var html_654ffc2569c44a23a29996e5d0ea9086 = $(`<div id="html_654ffc2569c44a23a29996e5d0ea9086" style="width: 100.0%; height: 100.0%;"><a href="https://kazangmu.ru/faculty-of-social-work-and-nursing"target="_blank">КГМУ Факультет социальной работы и высшего сестринского образования</a></div>`)[0];
            popup_182331ea9f5b4632a26e27ff8b2b3e47.setContent(html_654ffc2569c44a23a29996e5d0ea9086);
        

        marker_395a099f90f54b0189a0bef3485a2245.bindPopup(popup_182331ea9f5b4632a26e27ff8b2b3e47)
        ;

        
    
    
            var marker_ca77023435d743e98c3fc2401f1707ed = L.marker(
                [55.791, 49.141],
                {}
            ).addTo(map_208448a2373b44888f282a7e893ad678);
        
    
            var icon_2474430445154fe39cb9ba8093018163 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_ca77023435d743e98c3fc2401f1707ed.setIcon(icon_2474430445154fe39cb9ba8093018163);
        
    
        var popup_d69473d75e3a42228076dc84fa4432d9 = L.popup({"maxWidth": 2650});

        
            var html_c8e781563a2c4f9cbfde26b1f8e5ece2 = $(`<div id="html_c8e781563a2c4f9cbfde26b1f8e5ece2" style="width: 100.0%; height: 100.0%;"><a href="https://kazangmu.ru/medical-faculty"target="_blank">КГМУ Лечебный факультет</a></div>`)[0];
            popup_d69473d75e3a42228076dc84fa4432d9.setContent(html_c8e781563a2c4f9cbfde26b1f8e5ece2);
        

        marker_ca77023435d743e98c3fc2401f1707ed.bindPopup(popup_d69473d75e3a42228076dc84fa4432d9)
        ;

        
    
    
            var marker_01ce28ac44d94a4986e055b066961b89 = L.marker(
                [55.7907, 49.140895],
                {}
            ).addTo(map_208448a2373b44888f282a7e893ad678);
        
    
            var icon_b571a1e868564950a63844dbbec511d2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_01ce28ac44d94a4986e055b066961b89.setIcon(icon_b571a1e868564950a63844dbbec511d2);
        
    
        var popup_90ffbaddf75d4474ba2d0a9fdd6c14c2 = L.popup({"maxWidth": 2650});

        
            var html_a032678ffbce435cb72920e9236eb0d5 = $(`<div id="html_a032678ffbce435cb72920e9236eb0d5" style="width: 100.0%; height: 100.0%;"><a href=","target="_blank">КГМУ Педиатрический факультет</a></div>`)[0];
            popup_90ffbaddf75d4474ba2d0a9fdd6c14c2.setContent(html_a032678ffbce435cb72920e9236eb0d5);
        

        marker_01ce28ac44d94a4986e055b066961b89.bindPopup(popup_90ffbaddf75d4474ba2d0a9fdd6c14c2)
        ;

        
    
    
            var marker_232957b87a7c4958b13db4271092a6e8 = L.marker(
                [55.79065, 49.1408],
                {}
            ).addTo(map_208448a2373b44888f282a7e893ad678);
        
    
            var icon_e407181693ec481d8c152b3c3cbc855d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_232957b87a7c4958b13db4271092a6e8.setIcon(icon_e407181693ec481d8c152b3c3cbc855d);
        
    
        var popup_cf64a481b7e34ab0a9620c47f19ef167 = L.popup({"maxWidth": 2650});

        
            var html_d757fed550c64cde83b15cd4412b26d3 = $(`<div id="html_d757fed550c64cde83b15cd4412b26d3" style="width: 100.0%; height: 100.0%;"><a href="https://kazangmu.ru/faculty-of-dentistry"target="_blank">КГМУ Стоматологический факультет</a></div>`)[0];
            popup_cf64a481b7e34ab0a9620c47f19ef167.setContent(html_d757fed550c64cde83b15cd4412b26d3);
        

        marker_232957b87a7c4958b13db4271092a6e8.bindPopup(popup_cf64a481b7e34ab0a9620c47f19ef167)
        ;

        
    
</script>